.login-table {
    width: 100%;
    height: 100%;
    display: table;
    padding: 40px 0;
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}