<template>
    <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover dataTable" role="grid">
                <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Field Type</th>
                    <th>
                        <button v-if="!dataAdditionalFields.length" type="button" class="btn-xs btn-primary" @click="addAdditionalField">Add Field</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(field,index) in dataAdditionalFields">
                    <td>
                        <div class="form-group">
                            <input :name="additional_fields_type+'['+index+'][name]'" v-model="field.name" type="text" class="form-control" placeholder="Filed Name">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" :name="additional_fields_type+'['+index+'][field_type]'" v-model="field.field_type">
                                <option value="" disabled selected hidden>Select Field Type</option>
                                <option v-for="fieldType in fieldTypes" :value="fieldType.key">{{ fieldType.name }}</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-primary" @click="addAdditionalField(index)">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="btn-xs btn-danger" @click="removeAdditionalField(index)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            additional_fields_type: {
                type: String,
                default: "additional_fields"

            },
            additional_fields: {
                type: Array,
                default: () => []
            }
        },
        data: function () {
            return {
                dataAdditionalFields: this.additional_fields,
                fieldTypes: [
                    {
                        key: "text",
                        name: "Text"
                    },
                    {
                        key: "number",
                        name: "Number"
                    },
                    {
                        key: "text-area",
                        name: "Text Area"
                    },
                ]
            }
        },
        computed: {
            placeHolder: function () {
                return this.name.charAt(0).toUpperCase() + this.name.slice(1)
            }
        },
        watch:{
            additional_fields: function (value) {
                this.dataAdditionalFields = value;
            },
            dataAdditionalFields: function (value) {
                this.$emit('update:additional_fields', value);
            }
        },
        methods: {
            addAdditionalField: function (index) {
                index = index? index: 0;
                this.dataAdditionalFields.splice(index+1, 0,{
                    "name": "",
                    "field_type": "",
                });
            },
            removeAdditionalField: function (index) {
                this.dataAdditionalFields.splice(index, 1);
            }
        }
    }
</script>