<template>
    <div :id="id" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <slot name="header">
                        default header
                    </slot>
                </div>
                <div class="modal-body">
                    <slot name="body">
                        default body
                    </slot>
                </div>
                <div v-if="showFooter" class="modal-footer">
                    <slot name="footer"></slot>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                default: 'modal'
            },
            showModal: {
                type: Boolean,
                default: false
            },
            showFooter: {
                type: Boolean,
                default: true
            }
        },
        watch: {
            showModal: function () {
                this.showModal ? this.openModal() : this.closeModal();
            }
        },
        methods:{
            openModal: function(){
                $('#' + this.id).modal();
            },
            closeModal: function () {
                $('#' + this.id).modal('hide');
            }
        },
        mounted() {
        }
    }
</script>ss