<template>
    <div class="form-group">
        <label :for="id">{{ placeHolder }}</label>
        <input :id="id" :name="name" :type="fieldType" :placeholder="placeHolder" class="form-control" v-model="inputValue" />
    </div>
</template>

<script>
    export default {
        props: {
            name: {
                type: String
            },
            fieldType: {
                type: String,

            },
            value: String
        },
        data: function () {
            return {
                id: Math.random().toString(36).replace('0.', ''),
                inputValue: this.value
            }
        },
        computed: {
            placeHolder: function () {
                return this.name.charAt(0).toUpperCase() + this.name.slice(1)
            }
        },
        watch:{
            value: function (value) {
                this.inputValue = value;
            },
            inputValue: function (value) {
                this.$emit('update:value', value);
            }
        }
    }
</script>