<template>
    <div>
        <div class="col-sm-12" v-if="showLoader">
            <div class="loader"></div>
        </div>

        <div v-if="!showLoader">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" v-show="alert.errorMessage">
                    <h4><i class="icon fa fa-ban"></i> {{ alert.message }}</h4>
                    <h6 v-for="error in alert.errors">
                        {{ error }}
                    </h6>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" v-show="alert.message">
                    <h4>{{ alert.message }}</h4>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="panel box box-success">
                    <div class="box-header">
                        <h3 class="box-title">{{ title }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="file">{{ label }}</label>
                            <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
                            <p class="help-block">Word Document file only (.docx) </p>
                            <p class="help-block" v-if="url_download_template">Template is uploaded (<a :href="url_download_template">download</a>) </p>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" @click="uploadFile">{{ btn_title}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: {
            url_upload: {
                type: String,
                required: true

            },
            url_download_template: {
                type: String,
                required: false,
                default: () => null
            },
            title: {
                type: String,
                default: () => 'Upload Template File'
            },
            btn_title: {
                type: String,
                default: () => 'Upload'
            },
            label: {
                type: String,
                default: () => 'File Input'
            },

//            additional_fields: {
//                type: Array,
//                default: () => []
//            }
        },
        data: function () {
            return {
                file: null,
                showLoader: false,
                alert: {
                    message: null,
                    errorMessage: null,
                    errors: []
                }
            }
        },
        methods: {
            handleFileUpload: function () {
                this.file = this.$refs.file.files[0];
            },
            uploadFile(){
                let formData = new FormData();
                formData.append('file', this.file);

                this.showLoader = true;
                this.$http.post(this.url_upload, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((response) => {
                    this.file           = null;
                    this.showLoader     = false;
                    this.alert.message  = response.data.message;
                    setTimeout(() => {
                        this.alert.message = null;
                    }, 3000);
                    console.log(response.data);
                }, (error) => {
                    this.file       = null;
                    this.showLoader = false;

                    if(error.status == 422) {

                        this.alert.errorMessage = error.data.message;
                        if(error.data.errors instanceof Object) {
                            Object.keys(error.data.errors).forEach((key) => {
                                this.alert.errors.push(error.data.errors[key].join(','));
                            });
                        }

                    } else {
                        this.alert.errorMessage = error.data.message;
                    }

                    setTimeout(() => {
                        this.alert.errorMessage = null;
                        this.alert.errors = [];
                    }, 3000);
                })
            },
        }
    }
</script>